#root {
  --brown: #CD8B3D;
  --beige: #F4C287;
  --grey: #303030;
  --white: #FFFFFF;
}
.main {
  height: 100vh;
}
img {
  max-width: 100%;
}

.event {
  margin: 10px;
}
.event>h2 {
  text-align: center;
  color: var(--white);
  background-color: var(--brown);
  margin: 0;
}
.event>p {
  color: var(--grey);
  background-color: var(--beige);
  margin: 0;
  padding: 10px;
  text-overflow: ellipsis;
}
.event>img {
  margin: 0;
  padding: 0;
}

.nav {
  margin-bottom: 50px;
  text-align: center;
  padding: 5px 0;
  width: 98vw;
  background-color: var(--brown);
}
.nav-title {
  color:var(--white);
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form-participation {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  padding: 20px;
}

.form-participation>p {
  color: var(--grey);
}

.form-participation>button {
  margin: 30px 50px 0 50px;
  color:var(--white);
  background-color: var(--brown);
}

.form-participation>input {
  height: 30px;
}

.link {
  margin: 10px;
  padding :10px;
  background-color: var(--brown);
  color:var(--white);
  border-radius: 25px;
}
